@model PortsViewModel
@{
    ViewData["Title"] = "Ports - BioStar 2";
}

<div class="container-fluid p-0">
    <div class="d-flex align-items-center mb-3">
        <a href="javascript:history.back()" class="btn btn-sm btn-outline-secondary me-2">
            <i class="bi bi-arrow-left"></i>
        </a>
        <h5 class="mb-0">Ports utilisés</h5>
    </div>

    <div class="card">
        <div class="card-body">
            <h5>Configuration des ports</h5>

            <form asp-action="Ports" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Colonne de gauche -->
                        <ul class="list-unstyled">
                            <li class="mb-3 d-flex align-items-center">
                                <span class="me-2">•</span>
                                <span style="width: 200px;">ASP.NET Core HTTP</span>
                                <input type="number" class="form-control form-control-sm" style="width: 100px;" name="HttpPort" value="@Model.HttpPort" />
                            </li>

                            <li class="mb-3 d-flex align-items-center">
                                <span class="me-2">•</span>
                                <span style="width: 200px;">Device TCP Port</span>
                                <input type="number" class="form-control form-control-sm" style="width: 100px;" name="DeviceTcpPort" value="@Model.DeviceTcpPort" />
                            </li>

                            <li class="mb-3 d-flex align-items-center">
                                <span class="me-2">•</span>
                                <span style="width: 200px;">Port Base de données</span>
                                <input type="number" class="form-control form-control-sm" style="width: 100px;" name="DatabasePort" value="@Model.DatabasePort" />
                            </li>

                            <li class="mb-3 d-flex align-items-center">
                                <span class="me-2">•</span>
                                <span style="width: 200px;">IIS Express HTTP</span>
                                <input type="number" class="form-control form-control-sm" style="width: 100px;" name="IisExpressHttpPort" value="@Model.IisExpressHttpPort" />
                            </li>

                            <li class="mb-3 d-flex align-items-center">
                                <span class="me-2">•</span>
                                <span style="width: 200px;">gRPC Port (Gateway)</span>
                                <input type="number" class="form-control form-control-sm" style="width: 100px;" name="GrpcPort" value="@Model.GrpcPort" />
                            </li>

                            <li class="mb-3 d-flex align-items-center">
                                <span class="me-2">•</span>
                                <span style="width: 200px;">IIS Express HTTPS</span>
                                <input type="number" class="form-control form-control-sm" style="width: 100px;" name="IisExpressHttpsPort" value="@Model.IisExpressHttpsPort" />
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <!-- Colonne de droite -->
                        <ul class="list-unstyled">
                            <li class="mb-3 d-flex align-items-center">
                                <span class="me-2">•</span>
                                <span style="width: 200px;">ASP.NET Core HTTPS</span>
                                <input type="number" class="form-control form-control-sm" style="width: 100px;" name="HttpsPort" value="@Model.HttpsPort" />
                            </li>

                            <li class="mb-3 d-flex align-items-center">
                                <span class="me-2">•</span>
                                <span style="width: 200px;">Device TLS Port</span>
                                <input type="number" class="form-control form-control-sm" style="width: 100px;" name="DeviceTlsPort" value="@Model.DeviceTlsPort" />
                            </li>

                            <li class="mb-3 d-flex align-items-center">
                                <span class="me-2">•</span>
                                <span style="width: 200px;">UDP Port (Device Discovery)</span>
                                <input type="number" class="form-control form-control-sm" style="width: 100px;" name="DeviceUdpPort" value="@Model.DeviceUdpPort" />
                            </li>

                            <li class="mb-3 d-flex align-items-center">
                                <span class="me-2">•</span>
                                <span style="width: 200px;">Port Gateway Maître</span>
                                <input type="number" class="form-control form-control-sm" style="width: 100px;" name="MasterGatewayPort" value="@Model.MasterGatewayPort" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
